[flake8]
max-line-length=113
exclude=.git,__pycache__,source/third_party,debug,release,source/sql/,*_pb2.py,build
select = C,F,B,B950
ignore = F405,F401,F841,F811,F403
#F405: name may be undefined, or defined from star imports: module
#F401: imported but unused
#F841: local variable is assigned to but never used
#F811: redefinition of unused
#F403:  import * used; unable to detect undefined names
