[submodule "third_party/osmpbfreader"]
	path = third_party/osmpbfreader
	url = https://github.com/CanalTP/libosmpbfreader.git
[submodule "source/utils"]
	path = source/utils
	url = https://github.com/CanalTP/utils.git
