/source/tyr/.env
stats
debug
/build
/documentation/slate/build
Doc
qtcreator-build
ui_mainwindow.h
documentation/build
*.swp
source/CMakeLists.txt.user
tags
*.py[co]
*_pb2.py
*_pb2.py.bak
*.idea*
.ycm_extra_conf.py
DEBIAN/
build_package/
*.log
*.orig
*~
source/scripts/settings_jormungandr.sh
dev_settings.sh
dev_settings.py
debian/navitia-ed
debian/navitia-jormungandr
debian/tmp
debian/*.substvars
debian/*.debhelper
source/jormungandr/jormungandr/_version.py
source/compile_commands.json
.cache
*.gcov
.mypy_cache
.pytest_cache
.DS_Store
dev
docker_build
.vscode