[submodule "third_party/osmpbfreader"]
	path = third_party/osmpbfreader
	url = https://github.com/CanalTP/libosmpbfreader.git
[submodule "source/utils"]
	path = source/utils
	url = git@github.com:CanalTP/utils.git
[submodule "source/jormungandr/flask-restful"]
	path = source/jormungandr/flask-restful
	url = https://github.com/l-vincent-l/flask-restful.git
