Flask==2.2.5
Jinja2==3.1.6
MarkupSafe==0.23
Werkzeug==3.0.6
argparse==1.2.1
itsdangerous==1.1.0
protobuf==3.15.0 ; python_version < "3.9"
protobuf==4.25.8 ; python_version >= "3.9"
pyzmq==15.4.0 ; python_version < "3.9"
pyzmq==25.0.2 ; python_version >= "3.9"
wsgiref==0.1.2; python_version < '3.2'
