.line-circle {
  display: inline-block;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
  margin-right: 0.5em;
  line-height: 1.5em;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}

li {
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
