.container {
  max-width: 960px;
}


.navbar {
  background-color: #486d96;
}

.navbar-default {
  background-color: #486d96;
  border-color: #486d96;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #486d96;
  color: #E0E0E0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #486d96;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #486d96;
}

a:hover, a:focus {
  color: #486d96;
}
