future==0.18.3
docker==3.4.1
retrying==1.3.3
psycopg2 ; python_version < "3.9"  # keep it free: 2.5.4 is installed on debian 8 images, but doesn't handle PG 13.11 from debian 11
psycopg2-binary==2.9.7 ; python_version >= "3.9"
GeoAlchemy2==0.2.4
SQLAlchemy==1.3.3
alembic==1.0.11
requests==2.31.0
coloredlogs==10.0
typing==3.7.4
