future==1.0.0
docker==7.1.0
retrying==1.4.1
psycopg2 ; python_version < "3.9"  # keep it free: 2.5.4 is installed on debian 8 images, but doesn't handle PG 13.11 from debian 11
psycopg2-binary==2.9.10 ; python_version >= "3.9"
GeoAlchemy2==0.18.0
SQLAlchemy==2.0.41
alembic==1.16.4
requests==2.32.4
coloredlogs==15.0.1
typing==3.7.4.3
