[data-collapse] > :first-child {
    background: rgba(0, 0, 0, 0) url("../images/collapse/arrows.png") no-repeat scroll 0 4px;
    padding-left: 16px;
}
[data-collapse] > .open:first-child {
    background: rgba(0, 0, 0, 0) url("../images/collapse/arrows.png") no-repeat scroll 0 -36px;
}
