Source: navitia2
Architecture: amd64
Maintainer: Vincent Lara <vincent.lara@canaltp.fr>
Section: devel
Priority: optional
Description: Kraken ed Jörmungandr

Package: navitia-kraken
Architecture: amd64
Maintainer: Vincent Lara <vincent.lara@canaltp.fr>
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: devel
Priority: optional
Description: Navitia Kraken


Package: navitia-ed
Architecture: amd4064
Maintainer: Vincent Lara <vincent.lara@canaltp.fr>
Depends: ${shlibs:Depends}, ${misc:Depends}, python-protobuf, python-configobj
Section: devel
Priority: optional
Description: Navitia-Ed


Package: navitia-jormungandr
Architecture: amd64
Maintainer: Vincent Lara <vincent.lara@canaltp.fr>
Depends: python-zmq, python-werkzeug, python-shapely, python-protobuf, python-flask, python-six, python-sqlalchemy, python-psycopg2, python-sqlalchemy-ext, python-redis, python2.7
Section: devel
Priority: optional
Description: Navitia-Jormungandr
X-Python-Version: >=2.7

Package: navitia-sindri
Architecture: all
Maintainer: Alexandre Jacquin <alexandre.jacquin@canaltp.fr>
Depends: python-protobuf, python-sqlalchemy, python-configobj
Section: devel
Priority: optional
Description: Navitia-sindri

Package: navitia-kraken-dbg
Architecture: amd64
Section: debug
Priority: extra
Depends:
    navitia-kraken (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for kraken


Package: navitia-ed-dbg
Architecture: amd64
Section: debug
Priority: extra
Depends:
    navitia-ed (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for ed

Package: navitia-tyr
Architecture: all
Maintainer: Alexandre Jacquin <alexandre.jacquin@canaltp.fr>
Depends: python-flask, python-sqlalchemy, python-psycopg2, python-sqlalchemy-ext
Section: devel
Priority: optional
Description: Navitia-Tyr
    Tyr is a web service for managing account used on jormungandr
