Source: navitia2
Architecture: amd64
Maintainer: Vincent Lara <vincent.lara@canaltp.fr>
Depends: libzmq1, libboost-date-time1.49.0, libboost-serialization1.49.0, libboost-regex1.49.0, liblog4cplus-1.0-4, libprotobuf7, libboost-thread1.49.0, libboost-program-options1.49.0, libboost-filesystem1.49.0, python-zmq, python-werkzeug, python-shapely, libqt4-core, libqt4-sql, python-protobuf, python-pyed
Section: devel
Priority: optional
Description: Kraken ed Jörmungandr

Package: navitia-kraken
Architecture: amd64
Maintainer: Vincent Lara <vincent.lara@canaltp.fr>
Depends: libzmq1, libboost-date-time1.49.0, libboost-serialization1.49.0, libboost-regex1.49.0, liblog4cplus-1.0-4, libprotobuf7, libboost-thread1.49.0, libboost-program-options1.49.0, libboost-filesystem1.49.0, python-zmq, python-werkzeug, python-shapely, libqt4-core, libqt4-sql, python-protobuf, libpqxx-3.1, libtcmalloc-minimal4
Section: devel
Priority: optional
Description: Navitia Kraken


Package: navitia-ed
Architecture: amd64
Maintainer: Vincent Lara <vincent.lara@canaltp.fr>
Depends: libzmq1, libboost-date-time1.49.0, libboost-serialization1.49.0, libboost-regex1.49.0, libboost-program-options1.49.0, libboost-filesystem1.49.0, libqt4-core, libqt4-sql, python-protobuf, libpqxx-3.1, libboost-thread1.49.0, liblog4cplus-1.0-4, python-configobj
Section: devel
Priority: optional
Description: Navitia-Ed


Package: navitia-jormungandr
Architecture: amd64
Maintainer: Vincent Lara <vincent.lara@canaltp.fr>
Depends: python-zmq, python-werkzeug, python-shapely, python-protobuf, python-flask, python-six
Section: devel
Priority: optional
Description: Navitia-Jormungandr


Package: navitia-sindri
Architecture: all
Maintainer: Alexandre Jacquin <alexandre.jacquin@canaltp.fr>
Depends: python-protobuf, python-sqlalchemy, python-configobj
Section: devel
Priority: optional
Description: Navitia-sindri

Package: navitia-kraken-dbg
Architecture: amd64
Section: debug
Priority: extra
Depends:
    navitia-kraken (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for kraken


Package: navitia-ed-dbg
Architecture: amd64
Section: debug
Priority: extra
Depends:
    navitia-ed (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for ed
