#!/usr/bin/make -f

export DH_VERBOSE = 1
%:
	dh $@ --sourcedirectory=source --builddirectory=build_package

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_build:
	dh_auto_build -- 
