#!/usr/bin/make -f

export DH_VERBOSE = 1
%:
	dh $@  --with python2 --sourcedirectory=source --builddirectory=build_package --parallel --max-parallel=4

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DSKIP_TESTS=On

override_dh_auto_build:
	dh_auto_build -- -j4
	cd source/tyr && python2.7 setup.py build
	cd source/jormungandr && python2.7 setup.py build
	cd source/navitiacommon && python2.7 setup.py build
	cd source/monitor && python2.7 setup.py build

override_dh_auto_install:
	dh_auto_install
	cd source/tyr && python2.7 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb
	cd source/navitiacommon && python2.7 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb
	cd source/jormungandr && python2.7 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb --force
	cd source/monitor && python2.7 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb

override_dh_auto_clean:
	dh_auto_clean
	rm -rf source/tyr/build
	rm -rf source/jormungandr/build
	rm -rf source/navitiacommon/build

override_dh_strip:
	dh_strip -pnavitia-kraken --dbg-package=navitia-kraken-dbg
	dh_strip -pnavitia-ed --dbg-package=navitia-ed-dbg

override_dh_python2:
	dh_python2 -V 2.7
