Flask==3.1.3
Flask-Migrate==4.1.0
flask_restful==0.3.10
Flask-SQLAlchemy==3.0.5
Flask-Cors==6.0.0
geojson==2.5.0
Jinja2==3.1.6
Mako==1.3.5
MarkupSafe==3.0.3
SQLAlchemy==1.4.54
Shapely==1.8.5
Werkzeug==3.1.8
alembic==1.13.3
aniso8601==0.82
argparse==1.2.1
configobj==5.0.9
itsdangerous==2.2.0
protobuf==3.20.3
psycopg2-binary==2.9.7
pytz==2023.3
six==1.13.0
validate-email==1.3
retrying==1.3.3
git+https://github.com/ultrajson/ultrajson.git@ac4637fbc4e72bd59f221d9bba19127820d21023
jsonschema==2.6.0
python-dateutil==2.8.2
coloredlogs==10.0
# don't update these packages' versions unless you're very sure
amqp==5.0.6
redis==2.10.6
celery==5.2.2
minio==6.0.2
urllib3==2.7.0
requests==2.33.0
