Flask==1.0.4
Flask-Migrate==2.5.2
git+https://github.com/CanalTP/flask-restful.git@76346f65ca12a8edb9b32688cdc192ad391fa686
Flask-SQLAlchemy==2.4
Flask-Script==0.6.7
geojson==1.3.3
Jinja2==2.10.1
Mako==0.9.1
MarkupSafe==0.23
SQLAlchemy==1.3.3
Shapely==1.3.0
Werkzeug==0.14.1
alembic==1.0.11
amqp==1.4.9
aniso8601==0.82
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.13
celery==3.1.7
configobj==5.0.6
itsdangerous==1.1.0
kombu==3.0.30
protobuf
psycopg2
pydns==2.3.6
pytz==2013.9
redis==2.9.1
six==1.10.0
validate-email==1.2
wsgiref==0.1.2
retrying==1.3.3
ujson==1.35
jsonschema==2.6.0
python-dateutil==2.5.3
typing==3.7.4
coloredlogs==10.0
