-r requirements.txt
-r ../../requirements_pre-commit.txt

swagger-spec-validator==3.0.4
mock==5.2.0
validators==0.35.0

pytest==4.6.5 ; python_version < "3.9"
pytest-mock==1.10.0 ; python_version < "3.9"
pytest-cov==2.5.1; python_version < "3.9"

pytest==8.4.1 ; python_version >= "3.9"
pytest-mock==3.14.1 ; python_version >= "3.9"
pytest-cov==6.2.1 ; python_version >= "3.9"

requests-mock==1.12.1
flex==6.14.1
jsonschema==4.25.0
pytest-timeout==2.4.0

