-r requirements.txt
-r ../../requirements_pre-commit.txt

swagger-spec-validator==2.1.0
mock==1.0.1
validators==0.10
pytest==7.4.3
pytest-mock==1.10.0
pytest-cov==2.5.1
requests-mock==1.0.0
flex==6.14.1
jsonschema==2.6.0
pytest-timeout==1.3.3
