Flask==0.10.1
git+https://github.com/CanalTP/flask-restful.git@cf27aabe4b81854306d922ae0446970995105303#egg=Flask_RESTful-master
Flask-SQLAlchemy==1.0
Flask-Script==0.6.7
Flask-Cors==1.9.0
GeoAlchemy2==0.2.4
geojson==1.3.3
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.4
Shapely==1.3.0
Werkzeug==0.11.3
blinker==1.3
dict2xml==1.1
itsdangerous==0.24
protobuf
psycopg2
pyzmq==15.4.0
redis==2.9.1
six==1.10.0
kombu==3.0.30
python-dateutil==2.5.3
pytz==2013.9
retrying==1.2.3
aniso8601==0.82
ujson==1.33
urllib3==1.10.1
numpy==1.9.0
pybreaker==0.2.3
requests==2.6
amqp==1.4.9
anyjson==0.3.3
future==0.15.2
zeep==1.1.0
--no-binary=gevent,greenlet #the wheel is built against python 2.7.4 and debian is on 2.7.3 :(
gevent==1.1.2
Flask-Cache==0.13.1
git+https://github.com/kinnou02/serpy.git@508b5530d7b2a51aa83e0db17e5821b9b9f25bdf#egg=serpy
