[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"

[packages]
requests = "*"
GitPython = "*"
pre-commit = "*"

[requires]
python_version = "2.7"

