body {
  font-family: Helvetica, Sans, Arial;
}

p:first-child {
  margin: 1.25em;
}

table {
    font-size: 1em;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 1.25em;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td, th {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align:center;
}

th {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background-color: #4CAF50;
    color: white;
}

.raw-result {
  margin: 1.25em;
}

pre {
  background-color: ghostwhite;
  border: 1px solid silver;
  padding: 0.75em 1.25em;
  margin: 1.25em;
}

.json-key {
  color: brown;
}

.json-value {
  color: navy;
}

.json-string {
  color: olive;
}
